/* :root {
  --primary-bg-color: #EAE7DC;
  --secondary-color: #2C3E50;
  --accent-color: #F4B860;
  --text-primary-color: #6C5566;
  --text-secondary-color: #FAFAFA;
} */

/* :root {
  --primary-bg-color: #443D69;
  --secondary-color: #EAE7DC;
  --accent-color: #AB6F75;
  --text-primary-color: #FAFAFA;
  --text-secondary-color: #2C3E50;
} */

:root {
  --primary-bg-color: #F7F6FB;
  --secondary-color: #E4E7F5;
  --accent-color: #4F7BFF;
  --accent-color-2: #E3B8D0;
  --text-primary-color: #2C2C3A;
  --text-secondary-color: #E3B8D0;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--text-primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-family: "Lato", sans-serif;
}

h3 {
  font-size: clamp(1.1rem, 2.5vw, 1.7rem);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  font-family: "Inter", sans-serif;
}

button {
  border-radius: 6px;
  height: 3rem;
  padding: 0 2em;
  color: var(--secondary-color);
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: .875rem;
}

.primary-button {
  background-color: var(--accent-color);
  border: none;
  padding: 0.5rem 1rem;
}

.secondary-button {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  margin-left: 1rem;
  color: var(--accent-color)
}

.secondary-button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

/* Sections */
/* Header */
header {
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid var(--accent-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 54px;
  margin: 1rem;
}

.logo h1 {
  margin-top: 0;
  margin-bottom: .5rem;
  color: var(--accent-color);
  opacity: .8;
}

/* Hero */
.hero {
  background-color: var(--primary-bg-color);
  padding: .5rem 5rem 2rem 5rem;
  text-align: center;
}

.trusted-logos {
  padding: 2rem 0;
}

.carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  align-items: center;
  gap: 10rem;
  width: calc(2 * 100%);
  animation: scroll 22s linear infinite;
}

.carousel-track img {
  height: 50px;
  object-fit: contain;
  opacity: .7;
  transition: opacity .3s ease;
  flex-shrink: 0;
}

.carousel-track img:hover {
  opacity: 1;
}

/* Audience section */
.tab-section {
  padding: 4rem 1rem;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.tab {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--accent-color);
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: all .3s ease;
  color: var(--accent-color);
}

.tab.active {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-color: var(--accent-color);
  border-radius: 6px;
}

.tab:hover:not(.active) {
  border-color: var(--accent-color);
  color: var(--accent-color);
  opacity: .8;
}

.tab-content {
  max-width: 800px;
  margin: 0 auto;
  min-height: 400px;
  position: relative;
}

.tab-panel {
  display: none;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .4s ease, transform .4s ease;
}

.tab-panel.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.tab-panel h3 {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 2s ease, transform 2s ease; 
}

.tap-panel p {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 2s ease .1s, transform 2s ease .1s;
}

.tab-panel.active h3,
.tab-panel.active p {
  opacity: 1;
  transform: translateY(0);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 2rem 1rem;
  }

  .carousel-track img {
    height: 28px;
    gap: 2rem;
  }
}
